$primary: #008779;
$secondary: #cf9e69;
$light-grey: #f5f5f5;
$grey: #cccccc;
$dark-grey: #444444;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light-grey": $light-grey,
  "grey": $grey,
  "dark-grey": $dark-grey,
);
