.inquiry-form {
  position: relative;
  margin-top: 6em;
  padding-bottom: 3em;
  @include themed() {
    background-color: t(footer-bg);
  }
  z-index: 2;
  .section--header--title {
    color: #ffffff;
  }
  &::before {
    content: "";
    position: absolute;
    top: -4rem;
    right: 0;
    left: 0;
    height: 80px;
    @include themed() {
      background-image: t(footer-bg-img);
    }
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .form {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    @include for-size(map-get($breakpoints, $md)) {
      grid-template-columns: 1fr 1fr;
    }
    .form-field {
      position: relative;
    }
    .form-control {
      display: block;
      width: 100%;
      @include themed() {
        background-color: t(body-bg);
        color: t(text);
      }
    }
    .form-control-label {
      position: absolute;
      top: 0;
      font-size: 0.85rem;
      padding: 1em 0.75em;
      transition: transform 0.4s;
      @include themed() {
        color: t(text);
      }
      .mendate {
        color: #f01d1d;
      }
    }
    .form-control {
      border-radius: 4px;
      border: 0;
      padding: 1em 0.75em;
      font-size: 0.85rem;

      &.focus {
        + .form-control-label {
          transform: translate(-0.75em, -3em);
          color: #ffffff;
        }
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 4px 4px rgba($color: $secondary, $alpha: 0.65);
        + .form-control-label {
          transform: translate(-0.75em, -3em);
          color: #ffffff;
        }
      }
    }
    .hint {
      font-size: 0.75rem;
      font-style: italic;
      color: $grey;
      margin-top: 0.12rem0;
    }
    .error-msg {
      color: #871c0b;
      font-weight: bold;
      background: #f19586;
      padding: 0.2rem 0.4rem;
      font-size: 0.75rem;
      margin-top: 4px;
      display: block;
      border-radius: 4px;
    }
    .form-submit-field {
      text-align: center;
      .button-submit {
        &.disables,
        &:disabled {
          opacity: 0.8;
          pointer-events: none;
        }
      }
    }
  }
}
